.responsive-menu {
    background-color: #763005;


}

.hamberger-menu {
    border: 1px solid #F7B787;

}

nav ul li {
    background-color: #763005;

}


#main-content {
    background-color: #ffffff;

    border-left: 1.93px dashed #763005;
    
}

.decorate-content {
    border-bottom: 1px dashed #333;
}

.layout-topic {
    border: 3px solid #763005;
    background-color: #F9E8D9;

}

.head-topic {
    color: #763005;
}

.paragraph {
    color: #763005;
}

.highlight {
    color: #78ac7a;
}

.topic {
    color: #FB8B24;
    border-left: 10px solid #763005;
}

.card {
    background-color: #F8FAE5;
    border: 1px solid #B19470;
}


.card h3 {
    color: #76453B;
}


footer {
    background-color: #76453B;
    color: #fff;
}

.modal-content h1 {
    background-color: #76453B;
    color: #ffffff;
}